<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="M64RPFW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <M64RPFW.Properties.Settings>
            <setting name="CompiledJump" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtraMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DelaySpecialInterrupt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CyclesPerOp" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CoreType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpecialRecompilation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomizeInterrupt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalSynchronization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnScreenDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoPluginPath" serializeAs="String">
                <value>mupen64plus-video-rice.dll</value>
            </setting>
            <setting name="AudioPluginPath" serializeAs="String">
                <value>mupen64plus-audio-sdl.dll</value>
            </setting>
            <setting name="InputPluginPath" serializeAs="String">
                <value>mupen64plus-input-sdl.dll</value>
            </setting>
            <setting name="RSPPluginPath" serializeAs="String">
                <value>mupen64plus-rsp-hle.dll</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="ShowToolbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowStatusbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CoreLibraryPath" serializeAs="String">
                <value>mupen64plus.dll</value>
            </setting>
            <setting name="DefaultSlot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PauseOnFrameAdvance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
        </M64RPFW.Properties.Settings>
    </userSettings>
</configuration>