<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>io.github.mupen64-rewrite.M64RPFW</string>
	<key>CFBundleName</key>
	<string>M64RPFW</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_CA</string>
</dict>
</plist>
